[user]
	name = {{ .gitUser }}
	email = {{ .gitEmail }}
[push]
	autoSetupRemote = true
[merge "mergiraf"]
  name = mergiraf
  driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
[core]
  attributesfile = ~/.gitattributes
[diff]
  external = difft
