#!/bin/bash

set -e

echox() {
  printf "[\033[1;32minstall-packages\033[0m] %s\n" "$1"
}
install_brew() {
  if test ! "$(which brew)"; then
    echox "Installing homebrew"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

    echox "Adding homebrew to shell PATH"
    eval "$(/opt/homebrew/bin/brew shellenv)"
  fi
}

{{ if eq .chezmoi.os "darwin" -}}
install_brew
echox "Updating brew"
brew update
set +e
brew bundle --force --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end }}
set -e

# GH extensions
echox "Installing gh extensions"
[ -n "${GITHUB_TOKEN}" ] || gh auth login
gh extension install ilaif/gh-prx || true
gh extension install mislav/gh-branch

# npm
echox "Install global npm packages"
pnpm setup || echo "pnpm already setup"
pnpm add -g @githubnext/github-copilot-cli
pnpm add -g @escape.tech/mookme

# Other apps
echox "Other apps to install:"
echox "* Login to google drive"
echox "* Import settings from personal-drive/dev/environment/raycast.export"
echox "* Open RayCast and configure"
echox "* Open 1Password and configure"
echox "* Open VSCode and login to Settings & Sync"
